*{
  font-family: 'Roboto', sans-serif;
}
.header{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.header table{
	width: 100%;
	padding: 30px;
}
.header h2{
    margin-left: auto;
    margin-right: auto;
}
.header table #login{
	text-align: right;
}
.table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-top: 30px;
  text-align: center;
}
.table table {
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    width: 640px;
    border-collapse:
    collapse; border-spacing: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.table td, th { border: 1px solid #CCC; height: 30px; padding: 10px;} /* Make cells a bit taller */

.table th {
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
}

.table td {
    background: #FAFAFA; /* Lighter grey background */
    text-align: center; /* Center our text */
}
